.category-box {
  background: #0f172a;
  background: linear-gradient(315deg, rgb(6, 10, 19) 40%, rgb(9, 28, 57) 120%);
  border-radius: 20px;
  border: 1px solid #18233c;
  padding: 1rem;
  height: 300px;
  box-shadow: 5px 5px 20px #0a101eb7;
}

.category-box h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  margin-bottom: 1rem;
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.icon-item img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.icon-item img:hover {
  transform: translateY(-5px);
  border-radius: 8px;
}

.icon-item span {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
  margin-top: 3px;
  font-size: 14px;
}
