.card-servicios {
  height: 100%;
  width: auto;
  text-align: center;
  color: var(--color-texto-principal);
  background: var(--color-fondo-gradiante);
  border: var(--color-border);
  box-shadow: var(--color-sombra);
}

.descripcion-servicios {
  font-size: 15px;
  font-weight: 400;
}
