.parrafo {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--color-texto-principal);
}

.img-perfil {
  height: 220px;
  max-width: 220px;
  object-fit: cover;
  box-shadow: var(--color-sombra-img);
}

.icono-titulo {
  color: var(--color-hover);
  margin-right: 8px;
}

.texto-naranja {
  color: var(--color-texto-secundario);
  font-weight: 600;
}

.texto-azul {
  color: var(--color-texto-terciario);
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .parrafo {
    font-weight: 300;
    font-size: 13px;
  }
  .img-perfil {
    height: 180px;
    width: auto;
  }
}

/* @media (min-width: 576px) and (max-width: 1024px) {
} */

@media (min-width: 1024px) {
  .col-sobremi {
    padding-right: 60px;
  }
}
