.parrafo {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-texto-principal);
}

.img-perfil {
  height: 220px;
  max-width: 220px;
  object-fit: cover;
}

.icono-titulo {
  color: var(--color-hover);
  margin-right: 8px;
}

@media (max-width: 575.98px) {
  .parrafo {
    font-weight: 300;
    font-size: 13px;
  }
  .img-perfil {
    height: 180px;
    width: auto;
  }
}
