.inicio {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 110vh;
  background: url("/bg-inicio.jpg") no-repeat center center/cover;
  position: relative;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-repeat: no-repeat;
  mask-size: cover;
}

.inicio::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #0309257f; /* oscurece la imagen */
  z-index: 0;
}

.inicio > * {
  position: relative;
  z-index: 1;
}

.inicio h3 {
  font-weight: 400;
  font-size: 22px;
  color: #e0f7fa;
}

.inicio h1 {
  font-weight: 600;
  font-size: 70px;
  color: var(--color-hover);
  text-align: center;
}

.inicio span {
  font-weight: 300;
  font-size: 17px;
  color: #e0f7fa;
}

.punto {
  width: 10px;
  height: 10px;
  background-color: var(--color-hover);
  border-radius: 50%;
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 188, 212, 0.7);
  }
  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(0, 188, 212, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 188, 212, 0);
  }
}

.inicio button,
.inicio button:focus,
.inicio button:active,
.inicio button:active:focus {
  background: linear-gradient(315deg, rgb(6, 10, 19) 40%, rgb(9, 28, 57) 120%);
  color: #e0f7fa;
  border-radius: 30px;
  border: 2px solid rgb(76, 85, 138);
  padding: 10px;
  box-shadow: var(--color-sombra);
  font-size: 14px;
  transition: filter 0.3s ease;
}

.inicio button:hover {
  filter: brightness(1.2);
  border: 2px solid rgb(76, 85, 138);
}

.inicio button:active,
.inicio button:active:focus {
  border-color: rgb(76, 85, 138);
  color: #e0f7fa;
  box-shadow: none;
}

.icon-download {
  margin-right: 7px;
}

@media (max-width: 575.98px) {
  .inicio h3 {
    font-weight: 400;
    font-size: 16px;
  }
  .inicio h1 {
    font-weight: 500;
    font-size: 40px;
  }
  .inicio span {
    font-weight: 300;
    font-size: 13px;
  }
  .punto {
    width: 8px;
    height: 8px;
  }
  .inicio button {
    font-size: 12px;
  }
}

@media (min-width: 576px) and (max-width: 1024px) {
  .inicio h3 {
    font-weight: 400;
    font-size: 18px;
  }
  .inicio h1 {
    font-weight: 500;
    font-size: 60px;
  }
  .inicio span {
    font-weight: 300;
    font-size: 15px;
  }
  .punto {
    width: 9px;
    height: 9px;
  }
  .inicio button {
    font-size: 16px;
  }
}
