.bg-navbar {
  background: var(--color-fondo-navbar);
  backdrop-filter: blur(8px);
  padding: 40px 0;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-right: 20px;
}

.nav-center {
  gap: 20px;
  height: 100%;
  align-items: center;
  padding-left: 10px;
}

.nav-center .nav-link {
  color: var(--color-texto-principal) !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-center .nav-link:hover {
  color: var(--color-hover) !important;
}

.nav-center .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: var(--color-hover);
  transition: width 0.3s ease;
}

.nav-center .nav-link:hover::after {
  width: 100%;
}

/* .flags {
  display: flex;
  gap: 10px;
}

.flags img {
  height: 25px;
  transition: transform 0.2s ease;
}

.flags img:hover {
  transform: scale(1.2);
} */

.nav-toggle {
  font-size: 25px;
  color: var(--color-hover);
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.nav-toggle:focus,
.nav-toggle:active {
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 991.98px) {
  .bg-navbar {
    padding: 10px 0;
  }
  .nav-center {
    width: 100%;
    height: auto;
    gap: 0px;
    align-items: flex-start;
    position: static !important;
    transform: none !important;
  }
  .nav-center .nav-link {
    font-size: 15px;
  }
  .nav-right {
    width: 100%;
    align-items: flex-start;
    padding-left: 10px;
  }
  /* .flags img {
    height: 20px;
  } */
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .nav-center {
    gap: 0px;
  }
  .nav-center .nav-link {
    font-size: 17px;
  }
  .nav-right {
    gap: 10px;
  }
  /* .flags img {
    height: 23px;
  } */
}
