.bg-navbar {
  background: var(--color-fondo-navbar);
  backdrop-filter: blur(8px);
  height: 80px;
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-texto-principal) !important; /* Borrar */
  gap: 30px;
}

.nav-center {
  gap: 20px;
  height: 100%;
  align-items: center;
}

.nav-center .nav-link {
  color: var(--color-texto-principal) !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
}

.nav-center .nav-link:hover {
  color: var(--color-hover) !important;
}

.nav-center .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: var(--color-hover);
  transition: width 0.3s ease;
}

.nav-center .nav-link:hover::after {
  width: 100%;
}

.flags {
  display: flex;
  gap: 10px;
}

.flags img {
  height: 25px;
  transition: transform 0.2s ease;
}

.flags img:hover {
  transform: scale(1.2);
}
