.bg-navbar {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  height: 80px;
}

.nav-right .nav-link {
  color: var(--color-texto-principal) !important; /* Borrar */
}

.nav-center {
  display: flex;
  gap: 20px;
}

.nav-center .nav-link {
  color: var(--color-texto-principal) !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
}

.nav-center .nav-link:hover {
  color: var(--color-hover) !important;
}

.nav-center .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: var(--color-hover);
  transition: width 0.3s ease;
}

.nav-center .nav-link:hover::after {
  width: 100%;
}

.flags {
  height: 20px;
  padding-right: 10px;
}
