@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tema claro */
/* [data-theme="light"] {
  --color-fondo-homepage: #bcc4e8;
  --color-fondo-navbar: rgba(255, 255, 255, 0.5);
  --color-fondo-gradiante: linear-gradient(
    315deg,
    rgb(155, 174, 219) 40%,
    rgb(202, 212, 227) 120%
  );
  --color-sombra: 5px 5px 20px #7986a6b7;
  --color-sombra-img: 1px 1px 20px rgba(0, 0, 0, 0.432);
  --color-border: 1px solid #8491ae;
  --color-texto-principal: #212529;
  --color-texto-secundario: #d36313;
  --color-texto-terciario: #0e4ce9;
  --color-hover: #253bff;
  --color-hover-secundario: #d1d5fb;
} */

/* Tema oscuro */
:root {
  --color-fondo-homepage: linear-gradient(to right, #03081e 20%, #0a3a50 100%);
  --color-fondo-navbar: rgba(0, 0, 0, 0.5);
  --color-fondo-gradiante: linear-gradient(
    315deg,
    rgb(6, 10, 19) 40%,
    rgb(9, 28, 57) 120%
  );
  --color-sombra: 5px 5px 20px #111a30b7;
  --color-sombra-img: 1px 1px 20px rgba(255, 255, 255, 0.377);
  --color-border: 1px solid #18233c;
  --color-texto-principal: #e0f7fa;
  --color-texto-secundario: #f97316;
  --color-texto-terciario: #0ea5e9;
  --color-hover: #26c6da;
  --color-hover-secundario: #0b1938;
}

/* .fuente {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
} */
