.card-personalizada {
  font-family: "Poppins", sans-serif;
  height: 420px;
  width: 350px;
  border-radius: 20px;
  color: var(--color-texto-principal);
  background: var(--color-fondo-gradiante);
  border: var(--color-border);
  box-shadow: var(--color-sombra);

  position: relative;
  z-index: 1;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-body {
  padding: 20px 25px;
}

.card-img-container {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.card-personalizada img {
  transition: transform 0.3s ease;
}

.card-img-container img:hover {
  transform: scale(1.05);
}

.card-titulo {
  font-weight: 500;
  color: var(--color-hover);
}

.card-texto {
  font-weight: 400;
  font-size: 14px;
  padding: 3px 0;
  letter-spacing: 0.5px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-etiqueta {
  background-color: var(--color-hover-secundario) !important;
  color: var(--color-texto-principal);
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: 400;
  transition: filter 0.3s ease;
  cursor: default;
}

.card-etiqueta:hover {
  filter: brightness(1.2);
}

.card-etiqueta-img {
  background-color: rgba(0, 0, 0, 0.2) !important;
  font-weight: 600;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}
